<div class="loader dark">
	{{!-- <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
		x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;"
		xml:space="preserve">
		<rect x="0" y="0" width="4" height="10" fill="#333">
			<animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0"
				begin="0" dur="0.6s" repeatCount="indefinite" />
		</rect>
		<rect x="10" y="0" width="4" height="10" fill="#333">
			<animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0"
				begin="0.2s" dur="0.6s" repeatCount="indefinite" />
		</rect>
		<rect x="20" y="0" width="4" height="10" fill="#333">
			<animateTransform attributeType="xml" attributeName="transform" type="translate" values="0 0; 0 20; 0 0"
				begin="0.4s" dur="0.6s" repeatCount="indefinite" />
		</rect>
	</svg> --}}
	<div class="profile-main-loader">
		<div>
			<svg class="circular-loader" viewBox="0 0 128 128">
				<circle class="loader-path" cx="64" cy="64" r="60" fill="none" stroke="#fff" stroke-width="2" />
				<path fill="none"
					d="M65.1 102.4 c-1.2 -1.5 -2.1 -3.5 -2.1 -4.6 0 -2.6 5.3 -7.8 8 -7.8 6.4 0 11 -6.2 11 -15 0 -8.8 -4.6 -15 -11 -15 -2.7 0 -8 -5.2 -8 -7.8 0 -3.3 3.8 -7.2 7.1 -7.2 4.8 0 6.7 1.7 8.4 7.2 0.8 2.9 2.7 6.5 4.2 8 2.3 2.4 3.5 2.8 8.2 2.8 10.2 0 16.4 6.6 14.1 14.9 -1.6 6 -4.8 8.3 -12.9 9 -8.6 0.8 -11.4 3 -13.6 10.7 -1.7 5.7 -3.5 7.4 -8.4 7.4 -2 0 -3.6 -0.8 -5 -2.6z" />
				<path fill="none"
					d="M52.8 80.9 c-1 -0.5 -2.4 -3.3 -3.3 -6.1 -0.8 -2.9 -2.7 -6.5 -4.2 -8 -2.3 -2.4 -3.5 -2.8 -8.2 -2.8 -10.2 0 -16.4 -6.6 -14.1 -14.9 1.6 -6 4.8 -8.3 12.9 -9 8.6 -0.8 11.4 -3 13.6 -10.7 1.7 -5.7 3.5 -7.4 8.4 -7.4 3.3 0 7.1 3.9 7.1 7.2 0 2.6 -5.3 7.8 -8 7.8 -6.4 0 -11 6.2 -11 15 0 8.8 4.6 15 11 15 2.7 0 8 5.2 8 7.8 0 1.1 -0.9 3.1 -2.1 4.6 -2.2 2.8 -6.8 3.5 -10.1 1.5z" />
			</svg>
		</div>
	</div>

</div>



<!-- Nav and Logo
	================================================== -->

<div id="menu-wrap" class="menu-back cbp-af-header dark">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<nav class="navbar navbar-expand-lg navbar-light bg-light mx-lg-0">
					<a class="navbar-brand" href="/" target="_blank"><img src="/img/logo.png" alt="Splyt Logo"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon">
							<span class="menu-icon__line menu-icon__line-left"></span>
							<span class="menu-icon__line"></span>
							<span class="menu-icon__line menu-icon__line-right"></span>
						</span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item">
								<a class="nav-link" href="#concept">eNFT</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#ecommerce">Technical Architecture</a>
							</li>
							{{!-- <li class="nav-item">
								<a class="nav-link" href="#roadmap">Roadmap</a>
							</li> --}}
							<li class="nav-item">
								<a class="nav-link" href="#demo"> Shopify Demo
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#team">Team</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#faq">FAQ</a>
							</li>
							{{!-- <li class="nav-item">
								<a class="nav-link" href="#contact">Contact</a>
							</li> --}}

						</ul>
						<ul class="navbar-nav mx-auto">
							<li class="nav-item mt-2">
								<div class="large-2 s-hero__footer-social">
									<a target="_blank" href="https://twitter.com/splytcore"><svg
											xmlns="http://www.w3.org/2000/svg" width="20" height="20"
											viewBox="0 0 20 20">
											<path id="iconfinder_43-twitter_104461"
												d="M13.723,5.157a10,10,0,1,0,10,10A10,10,0,0,0,13.723,5.157Zm5.037,7.984c.005.108.007.216.007.326A7.168,7.168,0,0,1,7.735,19.506a5.154,5.154,0,0,0,.6.035,5.056,5.056,0,0,0,3.13-1.079,2.524,2.524,0,0,1-2.354-1.751,2.461,2.461,0,0,0,.474.045,2.5,2.5,0,0,0,.664-.088A2.522,2.522,0,0,1,8.228,14.2c0-.011,0-.022,0-.032a2.512,2.512,0,0,0,1.142.316,2.523,2.523,0,0,1-.78-3.365,7.155,7.155,0,0,0,5.195,2.633,2.522,2.522,0,0,1,4.294-2.3,5.034,5.034,0,0,0,1.6-.612,2.527,2.527,0,0,1-1.109,1.394,5.038,5.038,0,0,0,1.448-.4A5.092,5.092,0,0,1,18.761,13.141Z"
												transform="translate(-3.723 -5.157)" fill="#fff"></path>
										</svg></a>
									<a target="_blank" href="https://t.me/splytcore"><svg
											xmlns="http://www.w3.org/2000/svg" width="20" height="19.855"
											viewBox="0 0 20 19.855">
											<g id="icons" transform="translate(-2.1 -2.2)">
												<g id="telegram" transform="translate(2.1 2.2)">
													<path id="Path_54672" data-name="Path 54672"
														d="M21,12.1,13.2,19a.367.367,0,0,0-.1.3L12.8,22c0,.1-.1.1-.2,0l-1.2-4a.365.365,0,0,1,.2-.5l9.1-5.7C21,11.7,21.2,12,21,12.1Z"
														transform="translate(-6.095 -6.487)" fill="#fff"></path>
													<path id="Path_54673" data-name="Path 54673"
														d="M12.1,2.2a9.948,9.948,0,0,0-10,9.928,9.721,9.721,0,0,0,2.95,7.05,10,10,0,0,0,17.05-7.05A10.057,10.057,0,0,0,12.1,2.2ZM18,7.883l-2.014,9.784a.637.637,0,0,1-1.007.36l-3.094-2.3L10.3,17.308a.522.522,0,0,1-.863-.216l-1.151-3.6L5.265,12.56a.4.4,0,0,1,0-.791L17.28,7.092A.643.643,0,0,1,18,7.883Z"
														transform="translate(-2.1 -2.2)" fill="#fff"></path>
												</g>
											</g>
										</svg></a>
									<a target="_blank" href="https://github.com/splytcore"><svg id="OUTLINE_copy_2"
											xmlns="http://www.w3.org/2000/svg" width="20" height="20"
											viewBox="0 0 20 20">
											<g id="Group_1139" data-name="Group 1139">
												<path id="Path_54670" data-name="Path 54670"
													d="M10,0A10,10,0,1,0,20,10,10,10,0,0,0,10,0Zm1.292,11.85a2,2,0,0,1,.37,1.11v2.59H8.7s0-.878,0-1.48a2.086,2.086,0,0,1-2.59-1.11,4.579,4.579,0,0,0-.74-1.11c-.74-.439,0-.37,0-.37a1.369,1.369,0,0,1,1.11.74,1.757,1.757,0,0,0,2.22.74,1.813,1.813,0,0,1,.37-1.11c-1.616-.182-2.961-1.11-2.961-2.96s.371-2.22.741-2.59a2.291,2.291,0,0,1,.011-1.85s.727,0,1.467,1.11c.367-.367,1.48-.37,1.851-.37s1.483,0,1.849.37c.74-1.11,1.469-1.11,1.469-1.11a2.291,2.291,0,0,1,.011,1.85c.37.37.74.74.74,2.59S12.909,11.668,11.292,11.85Z"
													fill="#fff"></path>
											</g>
										</svg></a>
									<a target="_blank" href="https://medium.com/splytcore"><svg
											xmlns="http://www.w3.org/2000/svg" width="20" height="20"
											viewBox="0 0 20 20">
											<g id="iconfinder_Medium_circle_7088889" transform="translate(-0.8 -0.806)">
												<path id="Path_54671" data-name="Path 54671"
													d="M20.8,10.806a10,10,0,0,0-10-10h0a10,10,0,1,0,0,20h0A10,10,0,0,0,20.8,10.806Zm-9,0a4.421,4.421,0,1,1-4.42-4.451A4.436,4.436,0,0,1,11.8,10.806Zm4.849,0c0,2.314-.99,4.19-2.21,4.19s-2.21-1.876-2.21-4.19.989-4.19,2.21-4.19,2.21,1.876,2.21,4.19Zm1.984,0c0,2.073-.348,3.754-.777,3.754s-.777-1.681-.777-3.754.348-3.754.777-3.754S18.637,8.733,18.637,10.806Z"
													transform="translate(0)" fill="#fff" fill-rule="evenodd"></path>
											</g>
										</svg></a>
									<a target="_blank" href="https://www.linkedin.com/company/splytcore/mycompany/"><svg
											xmlns="http://www.w3.org/2000/svg" width="20" height="20"
											viewBox="0 0 20 20">
											<path id="iconfinder_Circled_Linkedin_svg_5279114"
												d="M10,0A10,10,0,1,1,0,10,10,10,0,0,1,10,0ZM6.874,15.62V7.811h-2.6V15.62Zm9.36,0V11.142c0-2.4-1.281-3.515-2.989-3.515a2.578,2.578,0,0,0-2.339,1.289V7.811H8.31c.034.733,0,7.809,0,7.809h2.6V11.259a1.775,1.775,0,0,1,.086-.634,1.421,1.421,0,0,1,1.332-.949c.939,0,1.315.716,1.315,1.766V15.62h2.6ZM5.593,4.045a1.353,1.353,0,1,0-.034,2.7h.017a1.354,1.354,0,1,0,.018-2.7Z"
												fill="#fff" fill-rule="evenodd"></path>
										</svg></a></div>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>