.holo-card {
    /* background: #2222b5; */
    position: relative;
    border: 1px solid #5dbfe6;
    -webkit-filter: drop-shadow(0px 0px 20px #00b6ff);
    filter: drop-shadow(0px 0px 20px #00b6ff);
    background-color: #82b5ff0d;
    background-color: hsla(0, 0%, 0%, 0.33);
    border-radius: 10px;
    padding: 2rem;
    margin: auto;
    transition: 0.5s all ease-in-out;

    &::before {
        border-radius: 10px;
        content: " ";
        position: absolute;
        background: transparent;
        border: 1px solid #5dbfe6;
        opacity: 0.66;
        height: 100%;
        width: 100%;
        -webkit-filter: drop-shadow(0px 3px 6px #5dbfe6);
        filter: drop-shadow(0px 3px 6px #5dbfe6);
        top: 0.3rem;
        left: -7px;
        z-index: -1;
        border-width: 0 0 1px 1px;
        transition: 0.5s all ease-in-out;
    }

    &::after {
        border-radius: 10px;
        content: " ";
        position: absolute;
        background: transparent;
        border: 1px solid #5dbfe6;
        height: 100%;
        border-width: 0 0 1px 1px;
        width: 100%;
        opacity: 0.33;
        -webkit-filter: drop-shadow(0px 3px 6px #5dbfe6);
        filter: drop-shadow(0px 3px 6px #5dbfe6);
        z-index: -2;
        top: 0.7rem;
        left: -10px;
        transition: 0.5s all ease-in-out;
    }

}