<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <link rel="icon" href="/favicon.ico" />
    	<!-- Basic Page Needs
	================================================== -->
	<meta name="description"  content="The NFT infrastructure to power
decentralized finance & e-commerce markets"/>
	<meta property="og:description" content="The NFT infrastructure to power
decentralized finance & e-commerce markets" />
	<meta name="keywords" 
		content="splyt, spl.yt, splyt core, splytcore, splyt core foundation, protocol, split, dcommerce ,d-commerce ,dcomm, crypto, enft, nft, shopx, shopx token polkadot, dot, ethereum, bitcoin, shopify, non fungible token, boson protocol, boson, ecommerce, e-commerce" />
	<meta property="og:title" content="Splyt Core Foundation" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://splytcore.org/" />
	<meta property="og:image" content="https://www.splytcore.org/img/pancake_new.png" />
	<meta property="og:image:width" content="550" />
	<meta property="og:image:height" content="391" />
	<meta property="og:site_name" content="Splyt Core Foundation" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="https://twitter.com/splytcore" />
	<meta name="twitter:domain" content="https://splytcore.org/" />
	<meta name="twitter:title" content="Splyt Core Foundation" />
	<meta name="twitter:description" content="The NFT infrastructure to power
decentralized finance & e-commerce markets" />
	

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="theme-color" content="#290d7e"/>
    <meta name="msapplication-navbutton-color" content="#a7007e"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#a7007e"/>

	<!-- Web Fonts 
	================================================== -->
	{{!-- <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet"/>	 --}}
	

	<!-- Favicons
	================================================== -->
	<link rel="icon" type="image/png" href="favicon.png">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">

	<!-- Polyfill
	================================================== -->
	<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise,Object.assign"></script>

</head>
<body>
      {{> @partial-block }}
      <div class="scroll-to-top">to top</div>




	
	<!-- JAVASCRIPT
    ================================================== -->
	{{!-- <script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script> 
	<script src="js/bootstrap.min.js"></script>
	<script src="js/plugins.js"></script> 
	<script src="js/chart-custom.js"></script>  
	<script src="js/particles-dark.js"></script> 
	<script src="js/custom.js"></script>  
	<script src="js/model1.js"></script>   --}}
	<!-- <script src="js/init3d.js"></script>   -->
    {{!-- <script src="js/main.js"></script> --}}


</body>
</html>

